<h1>Pricing</h1>

<div class="pricing">
	<p>Everything is priced accordingly by measurements.</p>
	<p>$.25 (25 cents) to $.45 (45 cents) a square foot depending on condition.</p>
	<br>
	<p>I have a minium charge of $100.<p>
