<h1>Pricing</h1>

<div class="pricing">
	<p>Everything is priced accordingly by measurements.</p>
	<p>$.25 (25 cents) to $.45 (45 cents) a square foot depending on condition.</p>
	<br>
	<p>I have a minium charge of $100.<p>
	<strong>
		<p>10% off Military discount.<p>
		<p>10% off Senior discount.<p>
	</strong>
</div>

<div class="hero-unit">
	<form class="form-horizontal">
	  <div class="control-group">
	  	<br>
	  	<h4>Get a FREE Estimate!<h4>
	    <label class="control-label" for="inputEmail">Your Name</label>
	    <div class="controls">
	      <input type="text" id="inputEmail" placeholder="Name">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Phone Number</label>
	    <div class="controls">
	      <input type="password" id="inputPassword" placeholder="Phone NUmber">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Best Time to Call</label>
	    <div class="controls">
	      <input type="password" id="inputPassword" placeholder="Best Time to Call">
	    </div>
	  </div>
	  <div class="control-group">
	    <label class="control-label" for="inputPassword">Your email</label>
	    <div class="controls">
	      <input type="password" id="inputPassword" placeholder="Your email">
	    </div>
	  </div>  
	  <div class="control-group">
	    <div class="controls">      
	      <button type="submit" class="btn">Shoots Den</button>
	    </div>
	  </div>
	</form>
</div>
