<h1>Services</h1>
<div class="services">
	<h4>We Love Referrals!</h4>
	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Carpet</h4>	    
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Area Rugs</h4>	    
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Upholstrey</h4>	    
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Stain and Spot Removal</h4>	    
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Auto Upholstery</h4>	    
	  </div>
	</div>

	<div class="media">
	  <a class="pull-left" href="#">
	    <img class="media-object" data-src="holder.js/64x64" 
	    src="//assets/images/holder.png">
	  </a>
	  <div class="media-body">
	    <h4 class="media-heading">Odor Removal</h4>	    
	  </div>
	</div>

</div>
