<h1>Home</h1>

<div class="welcomeMessage">
	<h2>Aloha and welcome to our website.</h2>
	<p> It is our mission to provide residential and commercial customers with a heathly, clean and fresh environment.
	<p>We specialize is quality care and customer service. We service all of our jobs with state-of-the art hot water steam carpet extractors, and also ony use the detergents in todays market.</p>
	<p>It is our duty to provide the very best in customer service and time managment with excelent carpet and upolstery care. Our staff here at Absolute Steam Clean are highly trained and dedicated to give the ultimate performance to all our customers on the island of Oahu.</p>
</div>
